.whole-ticker {
	float: right;
	text-align: right;
	margin-right:  30px;
}

#currency-selector{
	float: right;
	position: relative;
	top: 5px;
	margin-right: 30px;
}

#pick-currency{
	float:right;
}


h1{
	text-align: center;
}

.ticker{
	background-color: #dadada;
}